#box{
    font-size: 50px;
    width: 600px;
    height: 400px;
    background-color: aqua;
    border: solid black;
    position: relative;
    left: 1200px;
    top: 500px;
}
#tl{

    position:absolute;
    top:2px;
}
#tr{
  position:absolute;
  right: 3px;
  top: 2px;
}
#bl{
    position:absolute;
    bottom:2px;
    
}
#br{
    position: absolute ;
    bottom:2px;
    right: 5px;
}
#center{

  position: absolute;
  bottom: 50%;
  right: 40%
  
}